* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ff-highline: "Staatliches", sans-serif;
  --ff-body: "Palanquin", sans-serif;
  --background-header-color: hsl(218, 17%, 62%);
  --background-heading-color: hsl(275, 18%, 79%);
  --background-main-color: hsl(233, 100%, 97%);
  --background-span-color: #feeafa;
  --background-color-span-hover: #ffb8f1;
  --h1-color: #fff;
  --span-color: #4a4e69;
  --p-color: #23053a;

  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  background-color: var(--background-main-color);
}

h1,
span {
  font-family: var(--ff-highline);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-header-color);
}

header img {
  width: 13.7rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  margin: 3.2rem 0;
}

header h1 {
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--h1-color);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;

  width: 100%;
  background-color: var(--background-heading-color);
  padding: 0.8rem 0;
  margin-bottom: 3rem;
}

.header__paragraph {
  background-color: var(--background-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__paragraph p {
  max-width: 30.5rem;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: var(--p-color);
  padding: 1.4rem 0;
  margin: 1.4rem 0 6.5rem;
}

main {
  background-color: var(--background-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.cards .card {
  position: relative;
}

.cards .card:hover {
  cursor: pointer;
  transform: scale(1.1) ;
  transition-duration: 700ms;
}

.cards .card img {
  width: 100%;
  animation: downTop 700ms 200ms backwards;
}

.cards .card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: var(--span-color);

  background-color: var(--background-span-color);
  border-radius: 2rem;
  padding: 0 2.4rem;

  animation: topDown 700ms 200ms backwards;
}

footer {
  display: none;
}

@keyframes topDown {
  0% {
      opacity: 0;
      transform: translateY(-15px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes downTop {
  0% {
      opacity: 0;
      transform: translateY(+15px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


@media (min-width: 700px) {
  header img {
    width: 22rem;
  }

  .header__paragraph p {
    max-width: 58rem;
  }

  footer {
    display: block;
    width: 100%;
  }

  footer p,
  a {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4a4e69;
  }

  footer a {
    text-decoration: none;
    font-weight: bold;
  }

  .cards {
    display: grid;
    grid-template-areas:
      "A B"
      "C B"
      "C D"
      "E F";
    gap: 3.2rem;
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  .cards .card:nth-child(3) {
    display: none;
  }
  .cards .card:nth-child(4) {
    grid-area: C;
  }
  .cards .card:nth-child(5) {
    grid-area: D;
  }
  .cards .card:nth-child(6) {
    display: none;
  }
}

@media (min-width: 1280px) {
  body {
    display: flex;
  }

  header {
    max-width: 38rem;
    height: 100vh;
  }

  .header__paragraph {
    background-color: var(--background-header-color);
  }

  .header__paragraph p {
    max-width: 58rem;
    padding: 1.4rem 5rem;

    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #ffffff;
  }

  main {
    width: calc((100vw) - (38rem));
    background: #FFFFFF;
  }

  .cards {
    padding: 6.4rem 8rem;
    grid-template-areas:
      "A B C"
      "D B F"
      "D E F";
    gap: 3.2rem;
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }
  .cards .card:nth-child(2) {
    grid-area: B;
  }
  .cards .card:nth-child(3) {
    display: block;
    grid-area: C;
  }
  .cards .card:nth-child(4) {
    grid-area: D;
  }
  .cards .card:nth-child(5) {
    grid-area: E;
  }
  .cards .card:nth-child(6) {
    display: block;
    grid-area: F;
  }
}